html { min-height: 100%; margin-bottom: 1px; }

body { 
	font-family: Helvetica, Arial, sans-serif;
	background-color: #E0E0E0;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

a {
	color: #295CB1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#header {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 auto;
}

#header a,
#header a:link,
#header a:visited {
	color: #fff;
	background: none;
	text-decoration: none;
}

#header a:hover,
#header a:active {
	background: none;
	text-decoration: underline;
}

#header #banner {
	clear: left;
	width: 900px;
	height: 230px;
	background: url("/images/banners/distribution.gif") no-repeat;
	color: #FFFFFF;
	font-size: 250%;
}

#header #bannertext {
	position: relative;
	top: 10px;
	left: 20px;
}


#mainDiv {
	padding: 0;
	margin: 0;

	border-style: solid;
	border-width: 1px;
	border-color: #000000;

	width: 900px;

	margin-left: auto;
	margin-right: auto;

	background-repeat: no-repeat;
	background-color: #FFFFFF;
}


#breadcrumbs {
	padding-bottom: 15px;
	border-bottom: 1px solid #000000;
	margin-bottom: 15px;
}


#content {
	/*background: #88BBEE;*/
	width: 100%;
	height: 100%;
	margin-top: -120px;
}

#content h2 {
	margin: 0;
	padding: 0;
}

#content #left {
	/*background-color: #88BBEE;*/

	min-height: 300px;
	width: 250px;
	margin: 0;
	padding: 0;
	float: left;
}

#content #left p {
	margin: 0;
}

#content #left a,
#content #left a:visited {
	color:#003366;
	text-decoration: none;
}

#content #left a:hover {
	text-decoration: underline;
}

#content #left ul {
	list-style: none;
	padding-left: 15px;
	width: 85%;
}

#content #left ul a {
	font-weight: bold;
}

#content #left ul li {
	margin-bottom: 6px;
	border: none;
	border-color: #003366;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#content #left ul li ul {
	margin-top: 6px;
	border-color: #003366;
	border-top-width: 1px;
	border-top-style: solid;
	
}

#content #left ul li ul li {
	margin-top: 6px;
	border: none;
}

#content #left ul li.noBorder {
	border: none;
}

#content #right{
	
	/*background-color: #FFFFFF;*/
	
	margin-left: 250px;
	width: 630px;
	
	padding: 10px;
	padding-top: 15px;
	
	height: 100%;
}

#content #right p {
	text-align: justify;
}

#content #right ul li.listSpacer {
	border: none;
	list-style: none;
}

#content #right li {
	padding-top: 5px;
}

#content #right table p {
	text-align: left;
	padding: 5px;
}

#footer {
	clear:both;
	position: relative;

	width: 100%;
	height: 65px;

	background-color: #8ba3af;
	/*background-color: #003366;*/
	color: #FFFFFF;
}

#footer p {
	margin: 0;
	padding: 0;
}

#footer #footerLeft {
	float: left;
	padding-left: 5px;
	padding-top: 5px;
}

#footer #footerRight {
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}

#footer a,
#footer a:visited {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

#footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
}


table.simple {
	width: 100%;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}

table.simple tr {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
}

table.simple td,
table.simple th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}

.oneColContainer {
	padding: 20px;
}

.padLeft50 {
	padding-left: 70px;
}

.kwic {
	font-weight: bold;
}

.errorMessage {
	font-weight: bold;
	color: red;
}

.successMessage {
	font-weight: bold;
	color: green;
}

